<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "API Documentation" %></title>

    <style media="screen">
      <%= Rouge::Themes::MonokaiSublimeSlate.render(:scope => '.highlight') %>
    </style>
    <style media="print">
      * {
        transition:none!important;
      }
      <%= Rouge::Themes::Base16::Solarized.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if current_page.data.code_clipboard %>
    <script>
      $(function() { setupCodeCopy(); });
    </script>
    <% end %>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="toc-wrapper">
      <svg data-link="header-top" class="header-link logo" width="175" height="60" viewBox="0 0 120 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Canvas" fill="none">
              <g id="Vector">
                  <path d="M 5.72053 24.9306L 5.72053 6.90218L 0.000841562 5.82648L 0.000841562 26.0055L 0.00321542 26.0055L 5.72053 24.9306Z" fill="#ffffff"></path>
                  <path d="M 23.6439 18.6542C 23.3701 17.7394 22.9756 16.877 22.4716 16.0893C 21.9636 15.2984 21.3532 14.5808 20.6555 13.9572C 19.9594 13.3353 19.1744 12.8067 18.3235 12.3892L 18.3219 12.3884L 11.7719 17.1859L 13.9603 17.1859C 15.1731 17.1859 16.2153 17.6083 17.0575 18.4418C 17.9044 19.2826 18.3338 20.3213 18.3338 21.5281C 18.3338 22.7567 17.9092 23.8227 17.0718 24.6916C 16.2328 25.5605 15.1914 26.0022 13.977 26.007L 0 26.007L 0 31.8055L 13.977 31.8055L 14.2976 31.8038L 14.2976 31.7974C 15.5676 31.758 16.7717 31.4877 17.883 30.9945C 19.1053 30.4506 20.1832 29.712 21.0857 28.798C 21.9874 27.8833 22.716 26.785 23.2518 25.5307C 23.7828 24.2893 24.0519 22.9425 24.0519 21.5281C 24.0527 20.5321 23.9154 19.5658 23.6439 18.6542Z" fill="#ffffff"></path>
                  <path d="M 23.07 5.82643L 13.919 6.90053L 13.4936 7.30038L 9.90663 10.8734L 9.90663 17.1851L 11.7719 17.1851L 23.597 5.32359L 23.0851 5.82643L 23.07 5.82643Z" fill="#ffffff"></path>
                  <path d="M 23.07 5.82643L 23.0851 5.82643L 23.597 5.32359L 23.6924 5.2295L 23.6924 0.0594345L 0.000810601 0.0594345L 0.000841562 5.82648L 23.07 5.82643Z" fill="#ffffff"></path>
                  <path d="M 35.8465 0.0594345L 34.993 0.0594345L 34.993 31.8039L 35.8465 31.8039L 35.8465 0.0594345Z" fill="#ffffff"></path>
                  <path d="M 47.339 0.194529L 47.339 11.542L 50.829 11.542C 53.1989 11.542 54.5625 10.2614 54.5625 8.26748C 54.5625 6.27356 53.1989 4.99291 50.829 4.99291L 48.3779 4.99291L 48.3779 1.11854L 53.621 1.11854L 53.621 0.194529L 47.339 0.194529ZM 53.4911 8.26748C 53.4911 9.72644 52.5983 10.6018 50.6829 10.6018L 48.3779 10.6018L 48.3779 5.93313L 50.6829 5.93313C 52.5983 5.93313 53.4911 6.80851 53.4911 8.26748Z" fill="#ffffff"></path>
                  <path d="M 65.931 5.86829C 65.931 2.5613 64.0967 0 60.9638 0C 57.831 0 55.9967 2.5613 55.9967 5.86829C 55.9967 9.17528 57.831 11.7366 60.9638 11.7366C 64.0967 11.7366 65.931 9.17528 65.931 5.86829ZM 57.0681 5.86829C 57.0681 2.93414 58.5614 0.972644 60.9638 0.972644C 63.3662 0.972644 64.8596 2.93414 64.8596 5.86829C 64.8596 8.80243 63.3662 10.7639 60.9638 10.7639C 58.5614 10.7639 57.0681 8.80243 57.0681 5.86829Z" fill="#ffffff"></path>
                  <path d="M 76.3803 11.542L 76.3803 0.194529L 68.7998 0.194529L 68.7998 9.12665C 68.7998 10.2938 68.394 10.8288 67.3226 10.8288C 67.0304 10.8288 66.8194 10.8126 66.5435 10.7801L 66.5435 11.7042C 66.7383 11.7204 67.0467 11.7366 67.2739 11.7366C 68.9621 11.7366 69.8386 10.9585 69.8386 9.2077L 69.8386 1.13475L 75.3414 1.13475L 75.3414 11.542L 76.3803 11.542Z" fill="#ffffff"></path>
                  <path d="M 79.0746 0.194529L 79.0746 11.542L 82.5646 11.542C 84.9345 11.542 86.298 10.2614 86.298 8.26748C 86.298 6.27356 84.9345 4.99291 82.5646 4.99291L 80.1135 4.99291L 80.1135 0.194529L 79.0746 0.194529ZM 85.2267 8.26748C 85.2267 9.72644 84.3339 10.6018 82.4185 10.6018L 80.1135 10.6018L 80.1135 5.93313L 82.4185 5.93313C 84.3339 5.93313 85.2267 6.80851 85.2267 8.26748Z" fill="#ffffff"></path>
                  <path d="M 88.3004 11.542L 98.9164 11.542L 98.9164 0.194529L 97.8775 0.194529L 97.8775 10.6018L 94.1279 10.6018L 94.1279 0.194529L 93.089 0.194529L 93.089 10.6018L 89.3393 10.6018L 89.3393 0.194529L 88.3004 0.194529L 88.3004 11.542Z" fill="#ffffff"></path>
                  <path d="M 105.106 0.194529L 100.642 11.542L 101.795 11.542L 102.98 8.4458L 108.369 8.4458L 109.554 11.542L 110.706 11.542L 106.242 0.194529L 105.106 0.194529ZM 105.674 1.29686L 108.044 7.50557L 103.304 7.50557L 105.674 1.29686Z" fill="#ffffff"></path>
                  <path d="M 112.419 3.43668C 112.419 5.04154 113.312 6.07903 115 6.50051L 111.738 11.542L 112.939 11.542L 116.104 6.6464C 116.478 6.66261 116.851 6.66261 117.257 6.66261L 118.961 6.66261L 118.961 11.542L 120 11.542L 120 0.194529L 116.478 0.194529C 113.88 0.194529 112.419 1.41033 112.419 3.43668ZM 113.491 3.43668C 113.491 1.94529 114.53 1.13475 116.575 1.13475L 118.961 1.13475L 118.961 5.72239L 116.575 5.72239C 114.53 5.72239 113.491 4.91185 113.491 3.43668Z" fill="#ffffff"></path>
                  <path d="M 49.9362 31.8055L 50.9751 31.8055L 50.9751 21.3982L 54.6111 21.3982L 54.6111 20.458L 46.2839 20.458L 46.2839 21.3982L 49.9362 21.3982L 49.9362 31.8055Z" fill="#ffffff"></path>
                  <path d="M 63.731 23.9271C 63.731 21.6413 62.2051 20.458 59.5268 20.458L 56.2478 20.458L 56.2478 31.8055L 57.2867 31.8055L 57.2867 27.3962L 59.5268 27.3962C 62.2051 27.3962 63.731 26.1966 63.731 23.9271ZM 62.6596 23.9271C 62.6596 25.6454 61.5396 26.4559 59.4294 26.4559L 57.2867 26.4559L 57.2867 21.3982L 59.4294 21.3982C 61.5396 21.3982 62.6596 22.2087 62.6596 23.9271Z" fill="#ffffff"></path>
                  <path d="M 75.0775 26.1317C 75.0775 22.8247 73.2433 20.2634 70.1104 20.2634C 66.9776 20.2634 65.1433 22.8247 65.1433 26.1317C 65.1433 29.4387 66.9776 32 70.1104 32C 73.2433 32 75.0775 29.4387 75.0775 26.1317ZM 66.2146 26.1317C 66.2146 23.1976 67.708 21.2361 70.1104 21.2361C 72.5128 21.2361 74.0062 23.1976 74.0062 26.1317C 74.0062 29.0659 72.5128 31.0274 70.1104 31.0274C 67.708 31.0274 66.2146 29.0659 66.2146 26.1317Z" fill="#ffffff"></path>
                  <path d="M 85.8235 31.8055L 84.7846 31.8055L 84.7846 22.1763L 78.243 31.8055L 77.2041 31.8055L 77.2041 20.458L 78.243 20.458L 78.243 30.0871L 84.7684 20.458L 85.8235 20.458L 85.8235 31.8055ZM 81.6193 18.5127C 80.7914 18.5127 80.1746 17.9615 79.8824 17.0375L 79.152 17.232C 79.4929 18.4965 80.3532 19.307 81.6193 19.307C 82.8854 19.307 83.7457 18.4965 84.0866 17.232L 83.3562 17.0375C 83.064 17.9615 82.4471 18.5127 81.6193 18.5127Z" fill="#ffffff"></path>
                  <path d="M 89.5612 20.458L 88.5224 20.458L 88.5224 31.8055L 89.5612 31.8055L 89.5612 28.8875L 91.9149 25.9048L 95.5023 31.8055L 96.7522 31.8055L 92.5805 25.0942L 96.249 20.458L 94.9991 20.458L 89.5612 27.3313L 89.5612 20.458Z" fill="#ffffff"></path>
                  <path d="M 101.809 20.458L 97.3449 31.8055L 98.4974 31.8055L 99.6824 28.7092L 105.072 28.7092L 106.256 31.8055L 107.409 31.8055L 102.945 20.458L 101.809 20.458ZM 102.377 21.5603L 104.747 27.769L 100.007 27.769L 102.377 21.5603Z" fill="#ffffff"></path>
              </g>
          </g>
      </svg>
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <ul id="toc" class="toc-list-h1">
        <% toc_data(page_content).each do |h1| %>
          <li>
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li>
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= page_content %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
